<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,, initial-scale=1.0">
    <title>Welcome to Recipes!</title>
    <link href="../public/output.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div class="bg-red-500">
        <div><a href="/search">Search</a></div>
        <div><a href="/create">Create</a></div>
        <div><a href="/me">Me</a></div>
    </div>
</body>
</html>